<div class="jumbotron text-center">
	<h1>Alpha Blog</h1>
	<% if logged_in? %>
		<%= link_to "Blog", articles_path, class: "btn btn-success" %>
	<% else %>
		<%= link_to "signUp Now", signup_path, class: "btn btn-danger" %>
	<% end %>
</div>
